[access "refs/heads/*"]
	label-Code-Review = -2..+2 group N9 Flounder Maintainers
	label-Verified = -1..+1 group N9 Flounder Maintainers
	submit = group N9 Flounder Maintainers
	push = +force group N9 Flounder Maintainers
	pushSignedTag = group N9 Flounder Maintainers
	rebase = group N9 Flounder Maintainers
	create = group N9 Flounder Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group N9 Flounder Maintainers
	push = group N9 Flounder Maintainers
